<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zdxh.invitation.mapper.TInvitationMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zdxh.commons.entity.TInvitation">
        <id column="id" property="id" />
        <result column="inv_content" property="invContent" />
        <result column="inv_type" property="invType" />
        <result column="inv_image" property="invImage" />
        <result column="inv_video" property="invVideo" />
        <result column="top_id" property="topId" />
        <result column="inv_laud" property="invLaud" />
        <result column="inv_share" property="invShare" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, inv_content, inv_type, inv_image, inv_video, top_id, inv_laud, inv_share, create_time
    </sql>

    <select id="findAllByInvitation" parameterType="map" resultType="cn.zdxh.commons.entity.TInvitation">
        SELECT
          <include refid="Base_Column_List"/>
        FROM t_invitation
        <where>
            <if test="tInvitation.invContent != null and tInvitation.invContent != ''">
                AND inv_content LIKE "%"#{tInvitation.invContent}"%"
            </if>
            <if test="tInvitation.invType != null">
                AND inv_type = #{tInvitation.invType}
            </if>
            <if test="tInvitation.topId != null">
                AND top_id = #{tInvitation.topId}
            </if>
            <if test="tInvitation.invLaud != null">
                AND inv_laud = #{tInvitation.invLaud}
            </if>
            <if test="tInvitation.invShare != null">
                AND inv_share = #{tInvitation.invShare}
            </if>
        </where>
        LIMIT #{page.start},#{page.pageSize}
    </select>

    <select id="findAllByInvitation2" resultType="cn.zdxh.commons.entity.TInvitation">
        SELECT * FROM t_invitation
    </select>

</mapper>
