<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zdxh.invitation.mapper.TInvitationMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zdxh.commons.dto.TInvitationDTO">
        <id column="id" property="id" />
        <result column="inv_content" property="invContent" />
        <result column="inv_type" property="invType" />
        <result column="inv_image" property="invImage" />
        <result column="inv_video" property="invVideo" />
        <result column="top_id" property="topId" />
        <result column="inv_laud" property="invLaud" />
        <result column="inv_share" property="invShare" />
        <result column="create_time" property="createTime" />
        <result column="top_name" property="topName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inv.id, inv.inv_content, inv.inv_type, inv.inv_image, inv.inv_video, inv.top_id, inv.inv_laud, inv.inv_share, inv.create_time ,top.top_name
    </sql>

    <select id="findAllByInvitation" parameterType="cn.zdxh.commons.dto.TInvitationDTO" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM t_invitation inv
        LEFT JOIN t_topic top
        ON inv.top_id = top.id
        <where>
            <if test="tInvitation.invContent != null and tInvitation.invContent != ''">
                AND inv.inv_content LIKE "%"#{tInvitation.invContent}"%"
            </if>
            <if test="tInvitation.invType != null">
                AND inv.inv_type = #{tInvitation.invType}
            </if>
            <if test="tInvitation.invLaud != null and tInvitation.invLaud != ''">
                AND inv.inv_laud = #{tInvitation.invLaud}
            </if>
            <if test="tInvitation.invShare != null and tInvitation.invShare != ''">
                AND inv.inv_share = #{tInvitation.invShare}
            </if>
            <if test="tInvitation.topName != null and tInvitation.topName != ''">
                AND top.top_name LIKE "%"#{tInvitation.topName}"%"
            </if>
        </where>
    </select>


</mapper>
