<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zdxh.invitation.mapper.TTopicMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zdxh.commons.entity.TTopic">
        <id column="id" property="id" />
        <result column="top_name" property="topName" />
        <result column="top_note" property="topNote" />
        <result column="top_image" property="topImage" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, top_name, top_note, top_image, create_time
    </sql>

    <select id="findAllByTopic" parameterType="cn.zdxh.commons.entity.TTopic" resultType="cn.zdxh.commons.entity.TTopic">
        SELECT
          <include refid="Base_Column_List"/>
        FROM t_topic
        <where>
            <if test="tTopic.topImage != null and tTopic.topImage != ''">
                AND top_image LIKE "%"#{tTopic.topImage}"%"
            </if>
            <if test="tTopic.topName != null and tTopic.topName != ''">
                AND top_name LIKE "%"#{tTopic.topName}"%"
            </if>
            <if test="tTopic.topNote != null and tTopic.topNote != ''">
                AND top_note LIKE "%"#{tTopic.topNote}"%"
            </if>
        </where>
    </select>

</mapper>
